<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuyZFwCR8Mn66fBFVHLD1BcoY7WCd7uZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>274756380890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.howmuch.crazyatom</string>
	<key>PROJECT_ID</key>
	<string>how-much-crazyatom</string>
	<key>STORAGE_BUCKET</key>
	<string>how-much-crazyatom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274756380890:ios:668b75ab28ccf8260e5de3</string>
</dict>
</plist>